{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <h1>Мои бронирования</h1>

        <!-- Ссылка на выход из аккаунта -->
        <div class="profile-logout-link">
            <a href="{% url 'logout' %}" class="profile-btn profile-btn-logout">Выйти</a>
        </div>

        {% if bookings %}
            <div class="profile-bookings-table">
                <table class="profile-table">
                    <thead>
                        <tr>
                            <th>Комната</th>
                            <th>Дата заезда</th>
                            <th>Дата выезда</th>
                            <th>Гости</th>
                            <th>Имя гостя</th>
                            <th>Email гостя</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                            <tr class="profile-table-row">
                                <td>{{ booking.room.title }}</td>
                                <td>{{ booking.check_in }}</td>
                                <td>{{ booking.check_out }}</td>
                                <td>{{ booking.guests }}</td>
                                <td>{{ booking.user.username }}</td>
                                <td>{{ booking.user.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>У вас нет бронирований.</p>
        {% endif %}
    </div>
{% endblock %}
